<div class="container">
    <h3>Aluno</h3>
    <div class="formulario">
        <label for="inputNome">Nome:</label>
        <input type="text" id="inputNome" #nomeInput>
        <button (click)="pesquisarAluno(nomeInput.value)">Pesquisar</button>
    </div>

    <div class="tabela">
        <table>
            <tr>
                <th>Seleção</th>
                <th>Código</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
            </tr>

            <tr *ngFor="let aluno of alunos">
                <td>
                    <input 
                    type="radio"
                    name="radio-button"
                    value="{{ aluno.nome }}"
                    (click)="atribuirValor(alunoSelecionado.value)"
                    #alunoSelecionado
                    >
                </td>
                <td>{{ aluno.codigo }}</td>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.dataNascimento | date:"dd-MM-yyyy" }}</td>

            </tr>
        </table>

        <div class="acao">
            <button routerLink="/aluno/adicionar">Adicionar</button>
            <button (click)="alterarAluno(alunoSelecionado)">Alterar</button>
            <button (click)="deletarAluno(alunoSelecionado)">Remover</button>
        </div>

    </div>
</div>