<div class="container">
    <h3>Alterar Curso</h3>
    <div class="formulario">
        <label for="inputNome">Nome:</label>
        <input type="text" id="inputNome" [value]="curso.nome" >
        <label for="inputInstrutor">Instrutor:</label>
        <input type="text" id="inputInstrutor" [value]="curso.instrutor" >
        <label for="inputLocal">Local:</label>
        <input type="text" id="inputLocal" [value]="curso.local" >
        <label for="inputCargaHoraria">Carga Horária:</label>
        <input type="number" id="inputCargaHoraria" [value]="curso.cargaHoraria" >
        <label for="inputDataInicio">Data Inicio:</label>
        <input type="date" id="inputDataInicio" [value]="curso.dataInicio | date: 'yyyy-MM-dd'" >
        <button type="submit" (click)="alterarCurso()">Salvar</button>
        <button routerLink="/curso">Voltar</button>
    </div>
</div>